{% extends 'myapp/base.html' %}
{% block title %}Category Details{% endblock %}
{% block myhdg %}Category Details{% endblock %}
{% block body_block %}
    <h2>{{ cat.name }}</h2>
    <p>Warehouse: {{ cat.warehouse }}</p>
    {% if product_list %}
        <h3>Products:</h3>
        <ul>
            {% for product in product_list %}
                <li>{{ product.name }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No products available in this category.</p>
    {% endif %}
    <p>Return to <a href="{% url 'myapp:index' %}">Main Page</a>.</p>
{% endblock %}
